{{!
  The shared footer content for all pages.
}}
<footer class="bg-light text-center p-3">
    <div class="container-fluid">
        <span class="text-muted">Copyright © 2025 GSM Solution. All Rights Reserved</span>
    </div>
</footer>