<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

{{! Call layout.js }}
<script src="/js/layout.js"></script>

{{! Call product-form.js when needed }}
{{#isProductPage}}
    <script src="/js/product-form.js"></script>
{{/isProductPage}}