<div id="sidebar-wrapper">
    <div class="sidebar-heading">
        <img src="/images/GSM%20Logo.png" alt="GSM Logo">
    </div>
    <div class="list-group list-group-flush mt-3">
        {{!
            Each link checks for a flag (e.g., isDashboardPage) which is set by the child template.
            If the flag exists, the 'active' class is applied to highlight the current page.
        }}
        <a class="list-group-item list-group-item-action {{#isDashboardPage}}active{{/isDashboardPage}}" href="/dashboard"><i class="bi bi-speedometer2 me-2"></i>Dashboard</a>
        <a class="list-group-item list-group-item-action {{#isUserPage}}active{{/isUserPage}}" href="/users"><i class="bi bi-people me-2"></i>User</a>
        <a class="list-group-item list-group-item-action {{#isProductPage}}active{{/isProductPage}}" href="/products"><i class="bi bi-box-seam me-2"></i>Product</a>
        <a class="list-group-item list-group-item-action {{#isFabricPage}}active{{/isFabricPage}}" href="/fabrics"><i class="bi bi-stack me-2"></i>Fabric</a>
        <a class="list-group-item list-group-item-action {{#isTrimPage}}active{{/isTrimPage}}" href="/trims"><i class="bi bi-threads me-2"></i>Trim</a>
        <a class="list-group-item list-group-item-action {{#isBomTemplatePage}}active{{/isBomTemplatePage}}" href="/bom-templates"><i class="bi bi-file-earmark-spreadsheet me-2"></i>BOM Template</a>
        <a class="list-group-item list-group-item-action {{#isSaleOrderPage}}active{{/isSaleOrderPage}}" href="/sale-orders"><i class="bi bi-cart me-2"></i>Sale Order</a>
        <a class="list-group-item list-group-item-action {{#isBomPage}}active{{/isBomPage}}" href="/order-boms"><i class="bi bi-list-ul me-2"></i>BOM</a>
        <a class="list-group-item list-group-item-action {{#isPurchaseOrderPage}}active{{/isPurchaseOrderPage}}" href="/purchase_orders" ><i class="bi bi-receipt me-2"></i>Purchase Order</a>
        <a class="list-group-item list-group-item-action ps-5" href="/purchase_orders/pending-approval" ><i class="bi bi-hourglass-split me-2"></i>Pending Approval</a>
        <a class="list-group-item list-group-item-action {{#isProductionOutputPage}}active{{/isProductionOutputPage}}" href="/production-outputs"><i class="bi bi-graph-up-arrow me-2"></i>Production Output</a>
    </div>
</div>