{{! Gọi file layout chính làm khung sườn }}
{{> layout/_layout}}

{{! Định nghĩa nội dung cho pageTitle trong layout }}
{{#partial "pageTitle"}}Error{{/partial}}

{{! Định nghĩa nội dung cho phần content chính trong layout }}
{{#partial "content"}}
    <div class="container text-center mt-5">
        <h1 class="display-1">{{errorStatus}}</h1>
        <p class="lead text-muted">{{errorMessage}}</p>
        <a href="/dashboard" class="btn btn-primary mt-3">Go to Dashboard</a>
    </div>
{{/partial}}